---
import Layout from '../../layouts/Layout.astro';
import CustomerDashboard from '../../components/dashboard/CustomerDashboard';
---

<Layout title="My Account – Barbier Berlin" lang="en">
  <section class="pt-32 pb-16 min-h-screen bg-[var(--bg)]">
    <div class="max-w-5xl mx-auto px-4 sm:px-6 lg:px-8">
      <CustomerDashboard lang="en" client:load />
    </div>
  </section>
</Layout>
