---
import Layout from '../../layouts/Layout.astro';
import CustomerDashboard from '../../components/dashboard/CustomerDashboard';
---

<Layout title="Hesabım – Barbier Berlin" lang="tr">
  <section class="pt-32 pb-16 min-h-screen bg-surface-950">
    <div class="max-w-5xl mx-auto px-4 sm:px-6 lg:px-8">
      <CustomerDashboard lang="tr" client:load />
    </div>
  </section>
</Layout>
